/* Navigation */

nav {
    position: fixed; /*this keeps the navigation always on the screen*/
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;

    ul {
        display: flex; /*felix allows for flexible and responsive design. aligns and distributes space among items in the container*/
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        li {
            list-style: none; /*takes away the bullet point from the elements of the list*/
            margin-left: 45px;

            a {
                color: white;
                font-family: monospace;
            }
        }
    }
}