/* responsive */

@media only screen and (max-width: 768px) {
    html, body {
        --border-radius: 50px;
        --gutter: 6.25vw;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    nav ul li {
        margin-left: 25px;
    }

    section.about .empty {
        display: none;
    }

    section.service{

        article {
            flex-direction: column;
        }

        figure {
            flex-basis: 25vh;
            max-width: none;

            img {
                width: 20%;
            }
        }
    }

    section.contact a {
        font-size: 50px;
        transform: rotate(90deg);
    }
}